
/*=-------------------------------------------about--------------------*/
#about {
    padding: 30px;
    text-align: center;
    font-style: italic;
}

.about-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: large;
    font-style: italic;
}
.crunchiesonline{
    flex-basis: 90%;
    margin: 10px;
    padding: 20px;
    background-color:red;
    border-radius: 5px;

}
p{
    color: white;
}

.location,
.contact-info {
    flex-basis: 90%;
    /* Two columns with some spacing */
    margin: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
}

.location h3,
.contact-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: red;
}

.location p,
.contact-info p {
    font-size: 16px;
    color: #5b5656;
}

.map {
    flex-basis: 100%;
    margin: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    text-align: center;
}

.map h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: red;
}

@media (max-width: 680px) {
    .map iframe {
        height: 250px; /* Adjust the height for mobile view */
    }
}


